colors {
  color: #4273e6; /* blue */
  color: #365aaf; /* dark blue */
  color: #1c387b; /* black blue */
  color: #007bff; /* link blue */
  color: #0056b3; /* link hover blue */
  color: #91aef0; /* light blue */
  
  color: #d03232; /* red */
  color: #9a0d0d; /* dark red */
  
  color: orange;  /* orange */
  color: #cc7e21; /* dark orange */
  
  color: #0d880d; /* green */
  color: #0f630f; /* dark green */
  
}