footer {
  position: relative;
  border-style: solid none solid none;
  border-top-width: 2px;
  border-bottom-width: 12px;
  padding: 5px 15px 5px 15px;
}

footer {
  background-color: gray;
  border-color: #4e4e4e;
  color: #fff;
}

footer .annotate {
  font-size: 12px;
  font-family: Verdana, sans-serif;
}